@font-face {
    font-family: 'YekanBoom';
    src: url('../../public/Font/YekanBoom.ttf') format('ttf');
    src: url('../../public/Font/YekanBoom.woff2') format('woff2');
}

@font-face {
    font-family: 'Shabnam-Medium-FD';
    src: url('../../public/Font/Shabnam-Medium-FD.ttf') format('ttf');
    src: url('../../public/Font/Shabnam-Medium-FD.eot') format('ttf');
    src: url('../../public/Font/Shabnam-Medium-FD.woff2') format('woff2');
}



*{
    margin: 0px;
    padding: 0px;
    font-family: 'YekanBoom';
    direction: rtl;
}

html,body,#root{
    height: 100%;
}





$clrAntiFlashWhite:#eaf3f6;
$clrWhite:#ffffff;
$clrIsabelline:#787a7b;
$clrMaximumBlueGreen:#27b4c1;

$clrMetallicYellow:#fbd00b;
$clrMetallicRed:#fb0b0b;
$clrOuterSpace:#464646;
$clrJetStream:#bcccd2;

$sizeMoveHeader: 200px;
$sizeSide: 7%;

@mixin btnN {
    background: $clrMaximumBlueGreen;
    width: 250px;
    height: 40px;
    border: 0px;
    border-radius: 8px;
    color: $clrAntiFlashWhite;
    font-size: 20pt;
}

@mixin intN{
    width: 250px;
    height: 40px;
    border: 1px $clrMaximumBlueGreen solid;
    border-radius: 8px;
    margin: 10px;
    text-align: center;
    font-size: 13pt;
    color: $clrOuterSpace;
    &::placeholder{
        color: rgba($clrOuterSpace, 0.6);
    }
    &:focus{
        outline: 0px;
        border: 1px $clrMetallicYellow solid;
    }
    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button{
        -webkit-appearance: none;
        margin: 0;
    }
}

@mixin intNumber{
    border: 1px $clrMetallicYellow solid;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    width: 100px;
    margin: 0px 5px;
    overflow: hidden;
    text-align: center;
    font-size: 15pt;
    &:focus{
        outline: 0px;
    }
    &::-webkit-inner-spin-button{
        display: none;
    }
    &::-webkit-outer-spin-button{
        display: none;
    }
}


.postive-toast{
    .Toastify__progress-bar--success{
        background: $clrMaximumBlueGreen !important;
    }
    svg{
        fill: $clrMaximumBlueGreen !important;
    }
}
.negetive-toast{
    .Toastify__progress-bar--error{
        background: mix($clrMetallicRed, $clrMetallicYellow, 70) !important;
    }
    svg{
        fill: mix($clrMetallicRed, $clrMetallicYellow, 70) !important;
    }
}

.warning-toast{
    .Toastify__progress-bar--warning{
        background: mix($clrMetallicRed, $clrMetallicYellow, 30) !important;
    }
    svg{
        fill: mix($clrMetallicRed, $clrMetallicYellow, 30) !important;
    }
}

.rmdp-button,.rmdp-container{
    font-family: 'Shabnam-Medium-FD' !important;

    input{
        font-family: 'Shabnam-Medium-FD' !important;
    }
    span{
        font-family: 'Shabnam-Medium-FD' !important;

    }
}

header{
    background: $clrOuterSpace;
    height: 150px;
    display: flex;
    flex-direction: row;
    padding: 0px 150px;
    justify-content: space-between;
    align-items: end;
    padding-bottom: $sizeMoveHeader;
    .logo{
        margin: 0px 0px 0px 30px;
        img{
            width: 130px;
            cursor: pointer;
        }
    }
    nav{
        width: 50%;
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            p{
                cursor: pointer;
            }
            li{
                list-style-type: none;
                >p{
                    color: $clrAntiFlashWhite;
                    font-size: 15pt;
                }
                &:hover{
                    >p{
                        color: $clrWhite;

                    }
                    ul{
                        display: flex;
                    }
                }

                ul{
                    display: none;
                    position: absolute;
                    z-index: 1;
                    flex-direction: column;
                    background: $clrWhite;
                    border: 1px $clrMaximumBlueGreen solid;
                    padding: 10px 5px;
                    border-radius: 8px;
                    p{
                        color: $clrOuterSpace;
                        font-size: 13pt;
                        &:hover{
                            color: $clrMaximumBlueGreen;
                        }
                    }

                }
            }
        }
    }
    .LoginHeader{
        margin-right: auto;
        .login{
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;
            >p{
                color: $clrAntiFlashWhite;
                font-size: 15pt;
                margin: 0px 5px;
            }
            span{
                color: $clrMaximumBlueGreen;
                font-size: 18pt;
                margin: 0px 5px;
                display: flex;
                flex-direction: row;
                align-items: center;
            }
            .mnhb{
                justify-content: center;

                &:hover{
                    .mnhb-mn{
                        display: flex;
                    }
                }

                .mnhb-mn{
                    display: none;
                    position: absolute;
                    z-index: 1;
                    background: $clrWhite;
                    border: 1px $clrMaximumBlueGreen solid;
                    border-radius: 8px;
                    flex-direction: column;
                    overflow: hidden;
                    width: 150px;
                    left: $sizeSide;
                    p{
                        color: $clrOuterSpace;
                        padding: 3px 15px;
                        text-align: center;
                        font-size: 13pt;
                    }
                    :nth-child(1){
                        background: mix($clrMaximumBlueGreen, $clrWhite, 40);
                        padding: 5px 15px;
                        border-bottom: 1px $clrMaximumBlueGreen solid;
                        font-size: 15pt;
                    }
                    .mnhb-btn{
                        &:hover{
                            color: $clrMaximumBlueGreen;
                        }

                    }
                }
            }
            .hearts{
                display: flex;
                flex-direction: row-reverse;
                p{
                    color: $clrMetallicYellow;
                    font-size: 15pt;
                    display: flex;
                    align-items: center;
                }
            }
            .nameUser{
                color: $clrAntiFlashWhite;
                font-size: 14pt;
                margin: 0px 10px;
            }
        }

    }
}

footer{
    margin: 50px $sizeSide;

    .logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        :nth-child(2){
            margin: 0px 20px;

        }
    }
    .box{
        border: 1px rgba($clrIsabelline, 0.6) solid;
        border-radius: 15px;
        margin-top: 20px;

        .BusinessPartners{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        .links{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            border-top: 1px rgba($clrIsabelline, 0.4) solid;
            margin: 10px 25px;
            padding-top: 10px;
            p{
                font-size: 13pt;
                color: $clrOuterSpace;
                cursor: pointer;
                &:hover{
                        color: $clrMaximumBlueGreen;
                }
            }


        }
    }
}

main{
    background: $clrWhite;
    margin: 0px $sizeSide;
    margin-top: calc($sizeMoveHeader * -0.95);
    border-radius: 15px;
    box-shadow: 0px 0px 10px 5px rgba($clrIsabelline, 0.2);
    padding: 40px;

}


.homeMenu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    .itemMenu{
        width: 280px;
        height: 320px;
        display: flex;
        flex-direction: column;
        margin: 20px 10px;
        &:hover{
            .circle{
                border: 2px $clrMetallicYellow solid;
                box-shadow: 0px 0px 10px 5px rgba($clrIsabelline, 0.3);
                img{
                    transform: scale(1.1);
                }
            }
        }
        .circle{
            display: flex;
            flex-direction: column;
            width: 230px;
            height: 230px;
            border: 2px $clrMaximumBlueGreen solid;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            img{
                width: 70%;
                margin-top:-10px ;
                transition: 0.5s;
            }
            h3{
                color: $clrOuterSpace;
                font-size: 15pt;
                margin-top:-20px ;
            }
        } 
        p{
            color: $clrOuterSpace;
        }
    }
}


.msgInPage{
    border: 2px mix($clrMetallicRed,$clrIsabelline, 70) solid;
    border-right-width: 5px;
    margin-top: 25px;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;    

    p{
        color: $clrOuterSpace;
    }

}
.pghlf{
    display: flex;
    flex-direction: row;
    >section{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        h2{
            padding: 5px 15px;
            border-radius: 5px;
            margin-bottom: 45px;
        }
        .frmLg{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;


            input{
                @include intN();
            }
            button{
                @include btnN();
            }
            .captchaImg{
                border-radius: 8px;
                border: 1px $clrMaximumBlueGreen solid;
                cursor: pointer;
            }
        }
        .prflFrm{
            display: flex;
            flex-direction: column;
            >input{
                @include intN();
            }
            .datebirth{
                @include intN();
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                .rmdp-button{
                    border: 0px;
                    background: $clrWhite;
                    color: $clrIsabelline;
                }
                .rmdp-container{
                    font-family: 'arial';
                }
                >p{
                    border-left: 1px $clrJetStream solid;
                    color: $clrIsabelline;
                    width: 40%;
                }
            }
            .inpRdiIcn{
                @include intN();
                display: flex;
                flex-direction: row;
                input{
                    display: none;
                    align-items: center;
                    + label{
                        flex: 1;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        span{
                            font-size: 21pt;
                            color: $clrIsabelline;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                    &:checked{
                        +label{
                            span{
                                color: $clrMaximumBlueGreen;
                            }
                        }
                    }
                }
            }
        }
        >button{
            @include btnN();
        }
        .pay{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 350px;
            input{
                display: none;
                + label{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    flex-wrap: wrap;
                    width: 100%;
                    margin-bottom: 25px;
                    >p{
                        font-size: 18pt;
                        color: $clrMaximumBlueGreen;
                    }
                    &::before{
                        content: '';
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        border: 1px $clrMaximumBlueGreen solid;
                        border-radius: 50%;
                        margin: 0px 10px;
                    }
                    .ticket1{
                        h6{
                            text-decoration: none !important;
                        }
                        .cut{
                            top: -4px !important;
                            i{
                                border: 1px $clrMaximumBlueGreen solid;
                                background: #fff;
                                height: 5px !important;
                                width: 5px !important;
                                margin: 3px 0px 4px 0px !important;

                            }
                        }
                    }
                    .ticket2{
                        .perMonth{
                            background: rgba($clrMaximumBlueGreen , 0.3) ;
                            border-color: rgba($clrMaximumBlueGreen , 0.6) !important;

                        }
                    }
                    .ticket3{
                        .perMonth{
                            background: rgba($clrIsabelline , 0.5) ;
                            border-color: $clrIsabelline !important;

                        }
                    }
                    .ticket6{
                        .perMonth{
                            background: rgba($clrMaximumBlueGreen , 0.85) ;
                            border-color: $clrMaximumBlueGreen !important;

                        }
                    }
                    .ticket12{
                        .perMonth{
                            background: rgba($clrMetallicYellow , 0.95) ;
                            border-color: $clrMetallicYellow !important;
                        }
                    }
                    .ticket{
                        width: 100%;
                        height: 60px;
                        display: grid;
                        grid-template-columns: 140px 75px 5px 130px;
                        position: relative;
                        overflow: hidden;
                        h6{
                            border: 1px $clrMaximumBlueGreen solid;
                            border-left: 0px;
                            border-top-right-radius: 10px;
                            border-bottom-right-radius: 10px;
                            font-size: 20pt;
                            text-align: center;
                            color: $clrOuterSpace;
                            text-decoration: line-through;
                        }


                        .off{
                            display: flex;
                            flex-direction: column;
                            align-content: center;
                            justify-content: center;
                            border: 1px $clrMaximumBlueGreen solid;
                            border-left: 0px;
                            border-right: 0px;

                            p{
                                font-size: 18pt;
                                color: $clrMaximumBlueGreen;
                                margin: 0px;
                                text-align: center;
                                height: 28px;
                            }
                            span{
                                font-size: 16pt;
                                color: $clrMetallicYellow;
                                margin: 0px;
                                text-align: center;
                                height: 30px;
                            }
                        }
                        .cut{
                            position: absolute;
                            display: flex;
                            flex-direction: column;
                            width: 3px;
                            left: 133px;
                            top: -6px;
                            z-index: 1;
                            i{
                                width: 6px;
                                height: 6px;
                                margin: 3px 0px 3px 0px;
                                border-radius: 50%;
                                background: #fff;
                            }
                        }
                        .perMonth{
                            width: 133px;
                            display: flex;
                            flex-direction: column-reverse;
                            border: 1px $clrMaximumBlueGreen solid;
                            border-right: 0px;
                            border-bottom-left-radius: 10px;
                            border-top-left-radius: 10px;

                            span{
                                text-align: center;
                                color: $clrOuterSpace;
                                font-size: 22pt;
                                margin: 0px;
                                height: 28px;
                            }
                            p{
                                color: #fff;
                                font-size: 13pt;
                                text-align: left;
                                margin-left: 20%;
                            }

                        }

                    }
                }
                &:checked{
                    + label{
                        &::before{
                            background: $clrMaximumBlueGreen;
                        }
                    }
                }
            }

        }


    }
    >img{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
    }
    .intRdi{
        display: flex;
        flex-direction: row;
        @include intN();
        border:1px $clrMetallicYellow solid;
        >input{
            display: none;
            + label{
                flex: 1;
                transition: 0.5s;
                font-size: 19pt;
                color: $clrOuterSpace;
            }
            &:checked{
                + label{
                    background: $clrMetallicYellow;
                    flex: 2;
                }
            }
        }
    }

}

.sub{
    display: flex;
    align-items: center;
    justify-content: center;

    .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px $clrJetStream solid;
        border-radius: 10px;
        padding: 50px 100px;
        h2{
            font-size: 19pt;
            color: $clrOuterSpace;
            text-align: right;
            margin: 0px 0px 40px 0px;
            align-self: self-start;
        }
        .option{
            display: flex;
            flex-direction: row;
            .inputNumber{
                @include intNumber();
            }
            .file{
                display: none;
                + label{
                    width: 250px;
                    margin: 0px 5px;
                    height: 40px;
                    border-radius: 8px;
                    background: $clrMetallicYellow;
                    padding: 0px 15px;
                    color: $clrOuterSpace;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }
            }
            .selectedFile{
                background: $clrMaximumBlueGreen !important;
                color: $clrAntiFlashWhite !important;
            }
            .rdi{
                border: 1px $clrMetallicYellow solid;
                border-radius: 8px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                height: 40px;
                width: 300px;
                margin: 0px 5px;
                overflow: hidden;

                input[type=radio]{
                    display: none;
                    + label{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        font-size: 13pt;
                        color: $clrOuterSpace;
                        &::before{
                            display: inline-block;
                            content: '';
                            width: 12px;
                            height: 12px;
                            border: 1px $clrMetallicYellow solid;
                            border-radius: 50%;
                            margin: 0px 5px;
                        }
                    }
                    &:checked{
                        + label{
                            &::before{
                                background: $clrMetallicYellow;
                            }
                        }
                    }
                }
                .rmdp-container{
                    width: 100%;
                    height: 100% !important;
                    .rmdp-input{
                        width: 100%;
                        height: 100%;
                        margin: 0px;
                        padding: 0px;
                        border: 0px;
                        text-align: center
                    }
                }
                .titleInput{
                    color: $clrIsabelline
                }
                .inputOption{
                    @include intNumber();
                    border: 0px;
                }
            }
            .applyBtn{
                @include btnN();
                width: 150px;
            }
        }
        .result{
            margin: 40px 0px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            textarea{
                width: calc(100% - 30px);
                height: 300px;
                border: 1px $clrMaximumBlueGreen solid;
                border-radius: 10px;
                padding: 15px;
                margin: 10px 0px;
                &:focus{
                    outline: 0px;
                    border: 1px $clrMetallicYellow solid;
                }
            }
            >button{
                @include btnN();
                width: 100px;
            }
            .convertdatebox{
                border-top: 1px rgba(mix($clrIsabelline, $clrMaximumBlueGreen, 50),0.3) solid;
                height: auto;
                margin-top: 20px;
                padding-top: 20px;
                display: flex;
                flex-direction: row;
                align-items: stretch;
                .dateBox{
                    border: 1px $clrMaximumBlueGreen solid;
                    border-radius: 8px;
                    flex: 1;
                    margin: 10px;
                    padding: 3px;
                    justify-content: center;
                    align-items: center;
                    h6{
                        font-size: 16pt;
                        text-align: center;
                        color: $clrIsabelline;
                    }
                    p{
                        font-size: 12pt;
                        text-align: center;
                        color: $clrIsabelline;
                    }
                }    
                .dateBorj{
                    border: 1px $clrMaximumBlueGreen solid;
                    border-radius: 8px;
                    flex: 1;
                    margin: 10px;
                    padding: 3px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    div{
                        h6{
                            font-size: 16pt;
                            text-align: center;
                            color: $clrIsabelline;
                        }
                        p{
                            font-size: 12pt;
                            text-align: center;
                            color: $clrIsabelline;
                        }
                    }
                    img{
                        width: 45%;
                    }
    
                }
            }
            .colorBox{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                overflow: hidden;
                .colorItem{
                    width: 300px;
                    height: 50px;
                    margin: 0px 0px;
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    justify-content: space-around;
                    p{
                        text-align: left;
                        width: 50%;

                    }
                    .copyItem{
                        display: flex;
                        flex-direction: column;
                        visibility: hidden;
                        width: 30px;
                        height: 30px;
                        background: $clrWhite;
                        border-radius: 50%;
                        justify-content: center;
                        align-items: center;
                        span{
                            font-size: 15pt;
                            color: $clrIsabelline;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                        }




                    }
                    &:hover{
                        .copyItem{
                            visibility: visible;
                        }
                    }
                }
            }
        }
        .histori{
            margin: 20px 0px;
            width: 100%;
            border-top: 1px $clrJetStream solid;
            h6{
                color: $clrIsabelline;
                font-size: 13pt;
                margin: 20px 0px;
            }
            .items{
                display: flex;
                flex-direction: row;
                .item{
                    width: 140px;
                    height: 210px;
                    background: mix($clrMaximumBlueGreen, $clrIsabelline, 100);
                    margin: 10px;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: relative;
                    cursor: pointer;
                    .title{
                        text-align: center;
                        color: $clrWhite;
                        font-size: 14pt;
                    }
                    .date{
                        text-align: center;
                        color: $clrAntiFlashWhite;
                        font-size: 12pt;
                    }
                    &:hover{
                        span{
                            display: flex;
                        }
                    }
                    span{
                        display: none;
                        position: absolute;
                        background: rgba($clrAntiFlashWhite, 70);
                        border-radius: 50%;
                        width: 70px;
                        height: 70px;
                        top: calc(50% - 35px);
                        align-items: center;
                        justify-content: center;
                        font-size: 40pt;
                        color: #464646;
                    }
                }
            }
        }
    }
}




// media query w<1200
@media only screen and (max-width: 1200px) {
    .homeMenu{
        .itemMenu{
            width: 200px;
            height: 280px;
            margin: 20px 10px;
            .circle{
                width: 180px;
                height: 180px;
                border: 2px $clrMaximumBlueGreen solid;
                img{
                    width: 70%;
                    margin-top:-10px ;
                }
                h3{
                    font-size: 12pt;
                    margin-top:-20px ;
                }
            }
            p{font-size: 10pt;}
        }
    }
    header{
        padding: 0px 100px;
        padding-bottom: $sizeMoveHeader;
    }
    footer{
        .logo{
            img{
                width: 250px;

            }
        }
    }
    .sub{
        .box{
            padding: 50px ;
            .option{
                .file{
                    + label{
                        width: 150px;
                    }
                }
                .rdi{
                    width: 220px;
                    label{
                        font-size: 11px;
                    }
                }
                .applyBtn{
                    width: 110px;
                    font-size: 15pt;
                }
            }
            .histori{
                .items{
                    .item{
                        width: 100px;
                        height: 160px;
                        .title{
                            font-size: 10pt;
                        }
                    }
                }
            }

        }
    }
}

// media query w<980
@media only screen and (max-width: 980px) {
    header{
        padding: 0px 60px;
        padding-bottom: $sizeMoveHeader;
        .logo{
            img{
                width: 90px;
            }
        }
        nav{
            ul{
                li{
                    >p{
                        font-size: 12pt;
                    }
                }
            }
    
        }
        .LoginHeader{
            .nameUser{
                display: none;
            }
        }
    }
    .homeMenu{
        .itemMenu{
            width: 150px;
            height: 250px;
            margin: 10px 5px;
            .circle{
                width: 135px;
                height: 135px;
                border: 2px $clrMaximumBlueGreen solid;
                img{
                    width: 70%;
                    margin-top:-20px ;
                }
                h3{
                    font-size: 11pt;
                    margin-top:-20px ;
                }
            }
            p{font-size: 9pt;}
        }
    }
    footer{
        .logo{
            img{
                width: 150px;

            }
        }
    }
    .pghlf{
        justify-content: center;
        >img{
            display: none;
        }
    }

    .sub{
        .box{
            padding: 30px ;
            .option{
                .file{
                    + label{
                        width: 120px;
                    }
                }
                .rdi{
                    width: 220px;
                    label{
                        font-size: 11px;
                    }
                }
                .applyBtn{
                    width: 110px;
                    font-size: 15pt;
                }
            }
            .histori{
                .items{
                    .item{
                        width: 80px;
                        height: 110px;
                        .title{
                            font-size: 10pt;
                        }
                        span{
                            width: 40px;
                            height: 40px;
                            font-size: 25pt;
                        }
                    }
                }
            }

        }
    }

}


// media query w<720
@media only screen and (max-width: 720px) {
    header{
        flex-direction: column;
        align-items: center;
        padding: 0px 50px;
        padding-bottom: 250px;
        .logo{
            margin: 0px;

            img{
                width: 150px;
            }
        }
        nav{
            display: none;
        }
        .LoginHeader{
            margin: 0px;
            .nameUser{
                display: flex;
            }
        }
    }
    footer{
        .logo{
            :nth-child(1){
                display: none;
            }
            :nth-child(3){
                display: none;
            }
        }
    }
    .sub{
        .box{
            padding: 30px ;
            border: 0px;
            .option{
                flex-direction: column;
                align-items: center;
                .file{
                    + label{
                        width: 220px;
                        margin: 20px;
                        padding: 0px 10px;
                    }
                }
                .rdi{
                    width: 240px;
                    margin: 20px;

                    label{
                        font-size: 11px;


                    }
                }
                .applyBtn{
                    width: 240px;
                    font-size: 15pt;
                    margin: 20px;

                }
            }
            .histori{
                .items{
                    flex-wrap: wrap;
                }
            }
            .result{
                .convertdatebox{
                    flex-direction: column;
                }
            }

        }
    }
}


// media query w<500
@media only screen and (max-width: 500px) {

}